.clicker {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    margin-top: auto;
}

.button:active {
    background-color: #004fc2;
    position: relative;
    top: 1px;
}
